{% extends "base.html.twig" %}

{% block title %} Login {% endblock %}

{% block metas %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i&display=swap" rel="stylesheet" />
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block bodyclass %} class="nav-md" {% endblock %}

{% block body %}
        <h2 class="mb-5">
            Bienvenido 
        </h2>
        <div class="container-fluid">
	    <div class="row">    
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="card border shadow lift">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="font-weight-light">
                                Item 1
                            </h4>
                        </div>
                        <a href="#" class="btn btn-sm btn-blue stretched-link"> View </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="card border shadow lift">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="font-weight-light">
                                Item 2
                            </h4>
                        </div>
                        <a href="#"
                            class="btn btn-sm btn-blue stretched-link">
                            View
                        </a>
                    </div>
                </div>
            </div>
        </div> 
        </div> 
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

