{% extends "layout_backoffice.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="page-title">
            <div class="title_left">
                <h5><a href="{{ path('app_admin_users') }}">{{ "backoffice.user.user_listing"|trans }}</a> >> {{ "backoffice.menu.user"|trans }} </h5>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ "backoffice.menu.user"|trans }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
