<!DOCTYPE html>
<html lang="en">

{%include "header_backoffice.html.twig" %}

<body id="page-top"> 
    <!-- Content Wrapper -->
    <div id="wrapper">
        {% include "sidebar.html.twig" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include "topbar.html.twig" %}
                {% block content%}{%endblock%}
            </div>
            <!-- End Main Content -->
            {% include "footer.html.twig" %}
        </div>    
    </div>
    <!-- End of Content Wrapper -->

    {% include "scroll-top-button.html.twig" %}
    {% include "logout-modal.html.twig" %}
</body>     

{%include "javascript_backoffice.html.twig" %}

</html>