{% extends "base.html.twig" %}

{% block title %} Login {% endblock %}

{% block metas %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i&display=swap" rel="stylesheet" />
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark shadow-2-strong" style="border-radius: 1rem; background-color: #1f2123;">
          <div class="card-body p-5 text-center text-white">
		  <form method="post">
						<h3 class="mb-5 text-white">Login</h3>
						<!-- Texbox login -->
						<div class="form-outline mb-4">
							<input type="text" value="{{ last_username }}" name="username" id="inputText" class="form-control form-control-lg" placeholder="Usuario" required autofocus/>
						</div>
						<div class="form-outline mb-4">
							<input type="password" name="password" id="inputPassword" id="password" class="form-control form-control-lg" placeholder="Contraseña" required autofocus/>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</div>
						<!-- Checkbox -->
						<div class="form-check form-switch d-flex mb-4">
							<input class="form-check-input me-2" type="checkbox" name="_remember_me">
							<label class="form-check-label" for="flexSwitchCheckDefault">Recordar contraseña</label>
						</div>

						<!-- Button login -->
						<button class="btn btn-success text-white btn-blue submit" href="index.html">Aceptar</button>
		  </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
	<!--script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script!-->
    {{ encore_entry_script_tags('app') }}
{% endblock %}

